**/__pycache__/
**/.ipynb_checkpoints
.ipynb_checkpoints
.vscode
**/*.parquet
*.parquet
**/*.csv
**/*.pkl
**/*.png
*.pkl
*.csv
**/*.tiff
**/*.npz
**/*.whl
pip*
python*
lib*
.cfg
easy*
**/lib
rapids
rapids_env
rapids_new
*.bin
Scrap
**/*.h5ad